main.page-main
  h1.visually-hidden Главная страница - Аренда квартир 59
  = '\n'
  include main-offers
  = "\n"
  include ../blocks/about
  = "\n"
  include ../blocks/contacts
  = "\n"
  include ../blocks/reviews
  = "\n"
  include ../blocks/feedback