main.page-catalog
  section.catalog.container
    h1.page-catalog__title.section-title Наши квартиры
    = "\n"
    include catalog-list
  = "\n"
  include ../blocks/about
  = "\n"
  include ../blocks/contacts
  = "\n"
  include ../blocks/reviews
  = "\n"
  include ../blocks/feedback