.offers-list {
  display: grid;

  row-gap: 40px;

  padding: 0;
  margin: 0;

  list-style: none;

  @media (min-width: $mobile-lg-width) {
    grid-template-columns: repeat(2, 208px);

    column-gap: 30px;
  }

  @media (min-width: $tablet-sm-width) {
    grid-template-columns: repeat(3, 234px);

    row-gap: 50px;
    column-gap: 17px;
  }

  @media (min-width: $tablet-lg-width) {
    grid-template-columns: repeat(3, 280px);

    column-gap: 64px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 395px);

    row-gap: 80px;
    column-gap: 47px;
  }
}

.offers-list__item {
  display: flex;

  flex-direction: column;

  font-family: "Montserrat", "Arial", sans-serif;
  line-height: normal;
  color: $black;
}

.offers-list__title {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;

  font-size: 16px;
  font-weight: 700;

  @media (min-width: $mobile-lg-width) {
    margin-bottom: 8px;

    font-size: 14px;
  }

  @media (min-width: $tablet-sm-width) {
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;

    font-size: 24px;
  }
}

.offers-list__description {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;

  font-size: 12px;
  font-weight: 400;

  @media (min-width: $desktop-width) {
    margin-bottom: 22px;

    font-size: 18px;
  }
}

.offers-list__info {
  display: flex;

  flex-direction: column;

  margin-top: auto;
  margin-bottom: 20px;

  @media (min-width: $mobile-lg-width) {
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
  }
}

.offers-list__price {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;

  font-size: 18px;
  font-weight: 700;
  color: $blue;

  span {
    font-size: 12px;
  }

  @media (min-width: $mobile-lg-width) {
    font-size: 14px;

    span {
      font-size: 12px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 14px;

    font-size: 24px;

    span {
      font-size: 18px;
    }
  }
}

.offers-list__address {
  position: relative;

  padding-left: 28px;
  margin-bottom: 20px;

  font-size: 12px;

  @media (min-width: $mobile-lg-width) {
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 32px;
    margin-bottom: 20px;

    font-size: 18px;
  }
}

.offers-list__address-icon {
  position: absolute;
  top: -4px;
  left: 0;

  display: block;

  width: 22px;
  height: 22px;

  svg {
    width: 100%;
    height: 100%;

    fill: $red;
  }
}

.offers-list__address-text {
  display: block;
}

.offers-list__img {
  order: -1;

  width: 100%;
  height: 192px;
  margin-bottom: 10px;

  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba($black, 10%);

  img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    border-radius: 10px;
  }

  @media (min-width: $mobile-lg-width) {
    width: 208px;
    height: 140px;
  }

  @media (min-width: $tablet-sm-width) {
    width: 234px;
    height: 158px;
  }

  @media (min-width: $tablet-lg-width) {
    width: 280px;
    height: 190px;
  }

  @media (min-width: $desktop-width) {
    width: 395px;
    height: 267px;
    margin-bottom: 20px;
  }
}

.offers-list__link {
  align-self: center;

  width: 200px;
  padding-top: 8px;
  padding-right: 20px;
  padding-bottom: 8px;
  padding-left: 20px;
  margin-top: auto;

  font-size: 12px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;

  box-shadow: 0 10px 20px 0 rgba(255 122 0 / 20%);

  @media (min-width: $mobile-lg-width) {
    align-self: flex-start;

    width: 120px;

    font-size: 10px;
  }

  @media (min-width: $tablet-sm-width) {
    width: 124px;

    font-size: 12px;
  }

  @media (min-width: $tablet-lg-width) {
    width: 170px;

    font-size: 14px;
  }
}